.question-page-card {
  margin: 20px auto;
  max-width: 750px;
}

.question-page-card-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 5px 10px 5px 0px;
}

.question-page-card-content {
  font-size: 14px;
  padding: 15px 0 0 0;
}

.question-page-card-content-text {
  margin: 10px;
  text-align: center;
}

.question-page-submit-btn {
  position: absolute;
  bottom: 0;
  margin: 15px;
}

.answered-content {
  padding: 0 10px;
  width: 100%;
  border-left: 1px solid #ccc;
}

.voted-option-text {
  font-weight: bold;
}
